/* Elements */

body {
    background-color: pink; 
    height:100%; width: 50%; 
    margin-left: 25%; 
    margin-right: 25%;
}

a:link {
    color: #9180cb;
}

a:visited {
    color: #5743a3;
}

a:hover {
    color: #CAC2E6;
}

a:active {
    color: #be8cc0;
}

/* IDs */

#picText1 {
    width: 75%;
    position: relative;
    left: 10%;
}

#picText1 p {
    padding: 5px;
    background-color: black;
}

/* Classes */

.help {
	cursor: help;
}

.offset-left-20 {
    padding-left: 20px;
}

.is-horizontal-center {
    justify-content: center;
}

.source-code {
    font-family: "Consolas";
    color: green;
}

.times {
    font-family: "Times New Roman", Times, serif;
}

.is-256x256 {
    width: 256px;
    height: 256px;
}

.is-256x384 {
    width: 256px;
    height: 384px;
}

.is-316x64 {
    width: 316px;
    height: 64px;
}

.pointer {
    cursor: pointer;
}

.accordion {
    transition: 0.4s;
}

.active, .accordion:hover {
    color: #CAC2E6;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.source-code-white {
    font-family: "Consolas";
    color: white;
}

.has-background-red {
    background-color: red;
}

.has-background-pink {
    background-color: pink;
}

.has-background-purple {
    background-color: purple;
}

.has-text-red {
    color: red;
}

@media only screen and (max-width: 1088px) { /*400*/
    body {
        /* background-color: pink;  */
        height: 100%; width: 100%;
        margin-left: 0%; 
        margin-right: 0%;
    }
    
    html {
        background-color: pink;
    }

    a:link {
        color: #9180cb;
    }

    a:visited {
        color: #5743a3;
    }

    a:hover {
        color: #CAC2E6;
    }

    a:active {
        color: #be8cc0;
    }
}