body {
    background-color: pink; 
    height:100%; width: 50%; 
    margin-left: 25%; 
    margin-right: 25%;
}

#dropdown-menu4 {
    left: -45px;
}

.help {
	cursor: help;
}

.offset-left-20 {
    padding-left: 20px;
}

.is-horizontal-center {
    justify-content: center;
}

a:link {
    color: #9180cb;
}

a:visited {
    color: #5743a3;
}

a:hover {
    color: #CAC2E6;
}

a:active {
    color: #be8cc0;
}

@media only screen and (max-width: 1088px) { /*400*/
    body {
        /* background-color: pink;  */
        height: 100%; width: 100%;
        margin-left: 0%; 
        margin-right: 0%;
    }
    
    html {
        background-color: pink;
    }

    a:link {
        color: #9180cb;
    }

    a:visited {
        color: #5743a3;
    }

    a:hover {
        color: #CAC2E6;
    }

    a:active {
        color: #be8cc0;
    }
}